/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .col { 
        width: 100%;
        margin: 0 0 4px 0;
    }
    

    .navbar:first-child,
    .navbar{
        display: inline-block;
        float: none;
        width: 60%;
        margin-left: 20%;
    }

    .navbar:first-child{
        margin-left: 25%;
    }

    .navbar li{
        padding: 5px 10px;
    }

    .navbar li:first-child{
        padding-left: 40px;
    }

    .navbar li:last-child{
        padding-right: 0px;
        margin-right: 0;
    }

    .sticky{
        background-color: #ba54f5;
        width: 100%;
        border-bottom: 0px solid #fff;
    }
     
    /* .navbar { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .navbar {
        float: right;
        margin-top: 10px;
        margin-left: 20px;
    }
    
    
    
    .navbar li a:link,
    .navbar li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    } */

    .skills-box{
        width: 50%;
    }
    

    footer .col{width: 40%;}
}
    /* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }

    .navbar ul li{padding-left: 4px}

    .col { 
        width: 100%;
        margin: 0 0 4px 0;
    }

    .skills-list li{
        display: inline;
        font-size: 70%;
        background-color: rgb(192, 38, 38);
    }
    footer .col{width: 40%;}

    .footer-nav li,
    .social-links li{
        display: inline-block;   
    }
