/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }

    #section-form h2{
        margin-left: 10%;
    }

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    h1, h2{font-size: 100%;}
    
    .row,
    .col { 
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    #myHeader .row{
        margin-bottom: 0;
    }
    .navbar:first-child,
    .navbar{
        display: inline-block;
        float: none;
        width: 60%;
        margin-left: 20%;
        margin-bottom: 0;
    }

    .navbar:first-child{
        margin-left: 25%;
    }

    .navbar li{
        padding: 25px 10px;
    }

    .navbar li:first-child{
        padding-left: 40px;
    }

    .navbar li:last-child{
        padding-right: 0px;
        margin-right: 0;
    }

    .sticky{
        background-color: #2C3531;
        width: 100%;
        border-bottom: 0px solid #fff;
    }

    .skills-container{
        width: 80%;
        margin-left: 25%;
    }

    .skills-box,
    .skills-box:first-child{
        display: inline;
        width: 40%;
        margin: 10px 0;
        font-size: 70%;
    }
     


    #section-form h2{
        margin-left: 5%;
        margin-top: 20px;
    }

    .project-details{ 
        margin: 10px 10%;
    }

    .project-link{margin: 20px 30px;}

    #contact-form input[type=submit]{
        margin: 10px 20%;
    }
    
    footer .col{width: 40%;}
}

    /* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    section { padding: 40px 0; }
    .hero-text{height: auto;}
    
    .navbar:first-child,
    .navbar{
        width: 80%;
        margin-left: 15%;
    }

    .navbar ul li{padding-left: 4px;}

    .hero-text{height: auto;}

    
    
    .project-card{ margin-bottom: 20px;}
    
    .project-description{
        max-width: 90%;
    }
    
    .project-details .btn{
        font-size: 80%;
        padding: 10px;
        margin-bottom: 50px;
    }
    
    .video-box{
        width: 80%;
        margin: 50px 10%;
    }
    
    .video-box h3{
        margin-left: 5%;
        margin-bottom: 20px;
    }

    #section-form{
        height: auto;
    }
    
    #section-form h2{
        margin-left: 5%;
    }

    footer .col{width: 45%;}

    .footer-nav li,
    .social-links li{
        display: inline-block;   
    }

    footer .row{
        width: 90%;
        margin-left: 5%;
    }
}
