<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
        <title>Slick's Portfolio</title>

    </head>

    <body> 
        <div class="loader-bg">
            <div class="shuriken-1"></div>
        </div>
        
        <header class="clearfix ">
            <div id="particles-js"></div>
            <nav id="myHeader">
                <div class="row">
                    <ul class="col span-1-of-2 navbar js--main-nav">
                        <li><a href="#about-section"><ion-icon name="newspaper-outline" class="icon-big nav-icons"></ion-icon></a></li>
                        <li><a href="#skills-section"><ion-icon name="construct-outline" class="icon-big nav-icons"></ion-icon></a></li>
                   
                        <li><a href="https://twitter.com/Tiz_slick"><ion-icon name="logo-twitter" class="icon-big nav-icons"></ion-icon></a></li>
                        <li><a href="https://github.com/Slick-RaphaEl"><ion-icon name="logo-github" class="icon-big nav-icons"></ion-icon></a></li>
                    </ul>
                    
                </div>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </nav>

            <div class=" hero-text">
                <h1 id="textp"> <span>Greetings!!</span><br>
                
                </h1>
               
            </div>
            <div id="waves">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>

        </header>
        

        <section id="overview-section">

            <div class="overview-box" id="about-section">
                <h2>an overview </h2>
                <p class="text">
                    Hi!, I'm Raphael Otuya, a self-driven full-stack web developer.<br>I am a team player, highly driven and also passionate about building tools to help as much people as possible.
                </p>

                <div class="row skills-section" id="skills-section">
                    <h2>my skills</h2>
                    <div class="skills-container ">
                        <ul class="col span-1-of-2 skills-box">
                            <li class="skills-list">
                                <ion-icon name="logo-html5" class="icon-big"></ion-icon>
                                <span class="skills-label">HTML</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="logo-css3" class="icon-big"></ion-icon>                                
                                <span class="skills-label">CSS</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="logo-javascript" class="icon-big"></ion-icon>
                                <span class="skills-label">JAVASCRIPT</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="logo-react" class="icon-big"></ion-icon>
                                <span class="skills-label">REACT JS</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="logo-docker" class="icon-big"></ion-icon>
                                <span class="skills-label">Docker</span>
                            </li>

                            <li class="skills-list">
                                <img alt="nextjs-logo" src="https://dl.dropboxusercontent.com/s/xz0vejngihe04kg/nextjs-.png?dl=0" class="skills-logo">
                                <span class="skills-label">NEXT JS</span>
                            </li>

                            
                            <li class="skills-list">
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/l6c460gneukxoc0/postgress-icon.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">POSTGRESQL</span>
                            </li>

                        </ul>

                        <ul class="col span-1-of-2 skills-box">

                            <li class="skills-list">
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/bao38ri0gppep7j/flutter-logo.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">Flutter</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="logo-firebase" class="icon-big"></ion-icon>
                                <span class="skills-label">FIREBASE</span>
                            </li>


                            <li class="skills-list">
                                <ion-icon name="logo-nodejs" class="icon-big"></ion-icon>
                                <span class="skills-label">NODE JS</span>
                            </li>

                            <li class="skills-list">
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/m2u0u3wmrjp1hwl/ejs-logo.png?dl=0" class="skills-logo">
                                <span class="skills-label">EJS</span>
                            </li>


                            <li class="skills-list">
                                <ion-icon name="git-merge-outline" class="icon-big"></ion-icon>
                                <span class="skills-label">GIT</span>
                            </li>

                            <li class="skills-list">
                                <ion-icon name="search-outline" class="icon-big"></ion-icon>
                                <span class="skills-label">SEO</span>
                            </li>

                            <li class="skills-list">
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/4opv7elhzqis61n/mongodb-icon.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">MONGO DB</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div id="many-waves">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>

        <section class="project-section">
            <div class="row">
                <h2>Some of my projects</h2>
            </div>

            <div class="project-box clearfix">


                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/2lvlkcj9nqnsikl/dijktra-algo.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Dijktra Algorithm</h3>

                        <p class="project-description">
                           This is a project to demonstrate the use of Dijkra's algorithm, which is the grand father of path-finding algorithms and is guaranteed to find the shortest distance between two points.
                        </p>

                        <a href="https://dijkstra-algo.vercel.app/" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/0s3hq26o8sn95ev/chop-beta.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>chop beta</h3>

                        <p class="project-description">
                            Chop beta is an online food market place built with Ejs, Node js, Firebase. 
                            It is CRUD compliant and built in a restful state.
                        </p>

                        <a href="https://chop-beta.herokuapp.com/" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/dk5ynm41h420see/olympics-tracker.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>AFCON news tracker</h3>

                        <p class="project-description">
                           This website retrieves the latest news reagarding the 2022 African Cup of Nations. it is built with Nextjs and an API.
                        </p>

                        <a href="https://olympics-info-tracker.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/fa24cyrypuxg7qb/google-clone.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Next js Google Search clone</h3>

                        <p class="project-description">
                            This is a Google search engine clone, built with Next JS and Tailwind CSS using the Google Search API.
                        </p>

                        <a href="https://next-js-google-clone-one.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/7hhqe6pak1qg40b/lyrics-app.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Lyrics Finder</h3>

                        <p class="project-description">
                            This is a lyrics finder, built with Next JS and Tailwind CSS. It uses the Lyrics.ovh API to find lyrics for a song.
                        </p>

                        <a href="https://lyrics-finder-psi.vercel.app/" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div>


                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/ebz94f7u004jclg/chatapp.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Next js chat app</h3>

                        <p class="project-description">
                            A one to one chat app made using Next js and firebase, server sider rendering is incorporated for a better user experience.
                        </p>

                        <a href="https://next-js-chat-app-murex.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="quotes-section" class="clearfix">
            <div class="quotes-waves">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="quotes-container">
                <h2>some quotes i find interesting</h2>
                    <div  data-inviewport="fade-rotate" class="slidercontainer">  
                        <div class="showSlide fade">  
                            <p>
                            Not everything that is faced can be changed but nothing can be changed until it is faced<br> 
                            <span>&#126;James Baldwin&#126;</span>
                            </p> 
                        </div>  
                        <div class="showSlide fade">  
                            <p>
                            You have not converted a man because you have silenced him<br> 
                            <span>&#126;John Morley&#126;</span>
                            </p> 
                        </div>  
        
                        <div class="showSlide fade">  
                            <p>
                            Everything we hear is an opinion, not a fact. Everything we see is a perspective, not the truth.<br> 
                            <span>&#126;Marcus Aurelius&#126;</span>
                            </p>  
                        </div>  
                        <div class="showSlide fade">  
                            <p>
                            We are social animals, hell is other people.<br> 
                            <span>&#126;Black Swan&#126;</span>
                            </p>  
                        </div>  
                        <!-- Navigation arrows -->  
                        <a class="left" onclick="nextSlide(-1)">❮</a>  
                        <a class="right" onclick="nextSlide(1)">❯</a>  
                    </div>  
            </div>
      
            <!-- youtube  --> 
            <div class="video-box">
                <h3 class="">Some Random Programming Videos</h3>
                <div class="write-container">
                    <iframe width="100%" height="370px" title="random youtube video" class="youtubeVideo"></iframe>
                </div>
            </div>

        </section>
           
            
            
        <section id="section-form" class="clearfix">
            <div class="row">
                <h2>Happy to hear from you</h2>
            </div>

            <div>
                <form method="post" action="/send-message" id="contact-form">
                    <div class="row">
                        <input type="text" name="senderName" id="name" placeholder="Your name" required>  
                    </div>
                    <div class="row">
                        <input type="email" name="senderEmail" id="email" placeholder="Your email" required>
                    </div>

                    <div class="row">
                         <textarea name="message" placeholder="Your message"></textarea>
                    </div>
        
                    <div class="col span-2-of-3">
                        <input type="submit" name="submit" value="Send ">
                    </div>

                </form>
            </div>
          
        </section>
            
        <footer>
            <div class="row clearfix">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <p>powered by Slick inc.</p> 
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="https://slicktech.hashnode.dev/">Blog</a></li>
                        <li><a href="https://github.com/Slick-RaphaEl"><i class="ion-social-github"></i></a></li>
                        <li><a href="https://twitter.com/Tiz_slick"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/mwlite/in/raphael-otuya-446244144"><i class="ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </footer>

        <script>
            const searchTerms = ["factory%20functions","data%20structures", "array%20functions%20javascript", "composition%20over%20inheritance", "lambda%20functions", "streams%20java", "higher%20order%functions%javascript", "functional%20programming", "c++%20lambda%20functions", "sorting%20algorithms"];
            const getSearchTerm = () => searchTerms[Math.floor(Math.random() * (searchTerms.length-1))];
            const url = `https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=${getSearchTerm()}&key=<%=youtubeApiKey%>`;

            fetch(url)
            .then(response => response.json())
            .then(data => {
                document.querySelector(".youtubeVideo").src = `https://www.youtube.com/embed/${data.items[0].id.videoId}`;
            });

        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script type="text/javascript">
            setTimeout(function(){
                $('.loader-bg').fadeToggle();
            }, 3000);
        </script>
        <script src="vendors/js/particles.js"></script>
        <script src="vendors/js/app.js"></script>
        <script src="resources/js/script.js"></script>
    </body>
</html>
