<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
        <title>Slick's Portfolio</title>

    </head>

    <body>
        
           <div class="loader-bg">
                <div class="shuriken-1"></div>
        </div>
        
        
        <header class="clearfix ">
            <div class="page-header clearfix">
              <div class="squares" id="square1"></div>
              <div class="squares" id="square2"></div>
              <div class="squares" id="square3"></div>
              <div class="squares" id="square4"></div>
              <div class="squares" id="square5"></div>
              <div class="squares" id="square6"></div>
              <div class="squares" id="square7"></div>
            </div>

            <nav id="myHeader">
                <div class="row">
                    <ul class="col span-1-of-2 navbar js--main-nav">
                        <li><a href="#about-section"><ion-icon name="newspaper-outline" class="icon-big nav-icons"></ion-icon></a></li>
                        <li><a href="#exp-section"><ion-icon name="construct-outline" class="icon-big nav-icons"></ion-icon></a></li>
                   
                        <li><a href="https://twitter.com/Tiz_slick"><ion-icon name="logo-twitter" class="icon-big nav-icons"></ion-icon></a></li>
                        <li><a href="https://github.com/Slick-RaphaEl"><ion-icon name="logo-github" class="icon-big nav-icons"></ion-icon></a></li>
                    </ul>
                    
                </div>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </nav>

            <div class=" hero-text">
                <h1 id="textp"> <span>Greetings!!</span><br>
                
                </h1>
               
            </div>
        
        </header>

        <section>

            <div class="overview-box" id="about-section">
                <h2>an overview </h2>
                <p class="text">
                    Hi!, I'm Raphael Otuya, a self-driven full-stack web developer. I graduated from FEDERAL GOVERNMENT COLLEGE.<br>I am a team player, highly driven and also passionate about building tools to help as much people as possible.
                </p>

                <div class="row skills-section" id="skills-section">
                    <h2>my skills</h2>
                    <div class="skills-container">
                        <ul class="col span-1-of-2 skills-box">
                            <li>
                                <ion-icon name="logo-html5" class="icon-big"></ion-icon>
                                <span class="skills-label">HTML</span>
                            </li>

                            <li>
                                <ion-icon name="logo-css3" class="icon-big"></ion-icon>                                
                                <span class="skills-label">CSS</span>
                            </li>

                            <li>
                                <ion-icon name="logo-javascript" class="icon-big"></ion-icon>
                                <span class="skills-label">JAVASCRIPT</span>
                            </li>

                            <li>
                                <ion-icon name="logo-react" class="icon-big"></ion-icon>
                                <span class="skills-label">REACT JS</span>
                            </li>

                            <li>
                                <ion-icon name="logo-docker" class="icon-big"></ion-icon>
                                <span class="skills-label">Docker</span>
                            </li>

                            <li>
                                <img alt="nextjs-logo" src="https://dl.dropboxusercontent.com/s/xz0vejngihe04kg/nextjs-.png?dl=0" class="skills-logo">
                                <span class="skills-label">NEXT JS</span>
                            </li>

                            
                            <li>
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/l6c460gneukxoc0/postgress-icon.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">POSTGRESQL</span>
                            </li>

                        </ul>

                        <ul class="col span-1-of-2 skills-box">

                            <li>
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/bao38ri0gppep7j/flutter-logo.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">Flutter</span>
                            </li>

                            <li>
                                <ion-icon name="logo-firebase" class="icon-big"></ion-icon>
                                <span class="skills-label">FIREBASE</span>
                            </li>


                            <li>
                                <ion-icon name="logo-nodejs" class="icon-big"></ion-icon>
                                <span class="skills-label">NODE JS</span>
                            </li>

                            <li>
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/m2u0u3wmrjp1hwl/ejs-logo.png?dl=0" class="skills-logo">
                                <span class="skills-label">EJS</span>
                            </li>


                            <li>
                                <ion-icon name="git-merge-outline" class="icon-big"></ion-icon>
                                <span class="skills-label">GIT</span>
                            </li>

                            <li>
                                <ion-icon name="search-outline" class="icon-big"></ion-icon>
                                <span class="skills-label">SEO</span>
                            </li>

                            <li>
                                <img alt="ejs-logo" src="https://dl.dropboxusercontent.com/s/4opv7elhzqis61n/mongodb-icon.jpg?dl=0" class="skills-logo">
                                <span class="skills-label">MONGO DB</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="project-section">
            <div class="row">
                <h2>Some of my projects</h2>
            </div>

            <div class="project-box clearfix">


                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/2lvlkcj9nqnsikl/dijktra-algo.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Dijktra Algorithm</h3>

                        <p class="project-description">
                           This is a project to demonstrate the use of Dijkra's algorithm, which is the grand father of path-finding algorithms and is guaranteed to find the shortest distance between two points.
                        </p>

                        <a href="https://dijkstra-algo.vercel.app/" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/0s3hq26o8sn95ev/chop-beta.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>chop beta</h3>

                        <p class="project-description">
                            Chop beta is an only food market place built with Ejs, Node js, Firebase. 
                            It is CRUD compliant and built in a restful state.
                        </p>

                        <a href="https://chop-beta.herokuapp.com/" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/fa24cyrypuxg7qb/google-clone.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Next js Google Search clone</h3>

                        <p class="project-description">
                            This is a Google search engine clone, built with Next JS and Tailwind CSS using the Google Search API.
                        </p>

                        <a href="https://next-js-google-clone-one.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>

                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/dk5ynm41h420see/olympics-tracker.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Nigeria Olympics tracker</h3>

                        <p class="project-description">
                           This website accumulates information regarding Nigerian news and happenings during the last Olympics games held in Japan. it is built with Nextjs and an API.
                        </p>

                        <a href="https://olympics-info-tracker.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>

                <!-- <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/m7h28pjuhqk5oo1/travel-guy.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Travel Guy</h3>

                        <p class="project-description">
                            Travel guy is an online search directory for dispatch riders and moving companies. It is built with ejs, node js and postgresql, 
                            It is CRUD compliant and built in a restful state.
                        </p>

                        <a href="travel-guy.herokuapp.com" class="btn btn-full" id="project-link">Visit Website</a>
                    </div>
                </div> -->


                <div class="project-card clearfix">
                    <div class="col span-1-of-3">
                        <img alt="project-photo" src="https://dl.dropboxusercontent.com/s/ebz94f7u004jclg/chatapp.png?dl=0" class="project-photo">
                    </div>

                    <div class="col span-2-of-3 project-details">
                        <h3>Next js chat app</h3>

                        <p class="project-description">
                            A one to one chat app made using Next js and firebase, server sider rendering is incorporated for a better user experience.
                        </p>

                        <a href="https://next-js-chat-app-murex.vercel.app/" class="btn btn-full" id="project-link">Visit website</a>
                    </div>
                </div>


            </div>
        </section>

        <section id="quotes-section" class="clearfix">
            <div id="particles-js"></div>
            <div class="quotes-container">
                <h2>some quotes i find interesting</h2>
                    <div class="slidercontainer">  
                        <div class="showSlide fade">  
                            <p>
                            Not everything that is faced can be changed but nothing can be changed until it is faced<br> 
                            <span>&#126;James Baldwin&#126;</span>
                            </p> 
                        </div>  
                        <div class="showSlide fade">  
                            <p>
                            You have not converted a man because you have silenced him<br> 
                            <span>&#126;John Morley&#126;</span>
                            </p> 
                        </div>  
        
                        <div class="showSlide fade">  
                            <p>
                            Everything we hear is an opinion, not a fact. Everything we see is a perspective, not the truth.<br> 
                            <span>&#126;Marcus Aurelius&#126;</span>
                            </p>  
                        </div>  
                        <div class="showSlide fade">  
                            <p>
                            We are social animals, hell is other people.<br> 
                            <span>&#126;Black Swan&#126;</span>
                            </p>  
                        </div>  
                        <!-- Navigation arrows -->  
                        <a class="left" onclick="nextSlide(-1)">❮</a>  
                        <a class="right" onclick="nextSlide(1)">❯</a>  
                    </div>  
            </div>
      
            <!-- youtube  --> 
            <div class="video-box">
                <h3 class="">Some Random Programming Videos</h3>
                <div class="write-container">
                    <iframe width="100%" height="370px" class="youtubeVideo"></iframe>
                </div>
            </div>

        </section>
           
            
            
        <section id="section-form" class="clearfix">
            <div class="row">
                <h2>Happy to hear from you</h2>
            </div>

            <div>
                <form method="post" action="/send-message" id="contact-form">
                    <div class="row">
                        <input type="text" name="senderName" id="name" placeholder="Your name" required>  
                    </div>
                    <div class="row">
                        <input type="email" name="senderEmail" id="email" placeholder="Your email" required>
                    </div>

                    <div class="row">
                         <textarea name="message" placeholder="Your message"></textarea>
                    </div>
        
                    <div class="col span-2-of-3">
                        <input type="submit" name="submit" value="Send ">
                    </div>

                </form>
            </div>
          
        </section>
            
        <footer>
            <div class="row clearfix">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <p>powered by Slick inc.</p> 
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="https://github.com/Slick-RaphaEl"><i class="ion-social-github"></i></a></li>
                        <li><a href="https://twitter.com/Tiz_slick"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/mwlite/in/raphael-otuya-446244144"><i class="ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </footer>

        <script>
            const searchTerms = ["factory%20functions","data%20structures", "array%20functions%20javascript", "composition%20over%20inheritance", "lambda%20functions", "streams%20java", "higher%20order%functions%javascript", "functional%20programming", "c++%20lambda%20functions", "sorting%20algorithms"];
            const getSearchTerm = () => searchTerms[Math.floor(Math.random() * (searchTerms.length-1))];
            const url = `https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=${getSearchTerm()}&key=<%=youtubeApiKey%>`;

            fetch(url)
            .then(response => response.json())
            .then(data => {
                document.querySelector(".youtubeVideo").src = `https://www.youtube.com/embed/${data.items[0].id.videoId}`;
            });

        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script type="text/javascript">
            setTimeout(function(){
                $('.loader-bg').fadeToggle();
            }, 3000);
        </script>
        <script src="vendors/js/particles.js"></script>
        <script src="vendors/js/app.js"></script>
        <script src="resources/js/script.js"></script>
    </body>
</html>
