<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Mono:ital@1&display=swap" rel="stylesheet">
        <title>Slick's Portal</title>

    </head>

    <body>
        <form method="post" action="/admin-sign-in" class="login-form">
            <div class="form-group">
                <input type="text" name="email"  placeholder="Username" style="width: 60%; margin-left: 20%;" >
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" style="width: 60%; margin-left: 20%;" >
            </div>
            <input type="submit" name="submit" class="btn btn-primary" value="Login" style=" margin-left: 20%; margin-top: 20px;">
        </form>
    </body>
</html>